[build]
publish = "dist"
command = "npx vite build"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/art/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*"

[headers.values]
Access-Control-Allow-Origin = "*"